
body {
    background-color: rgb(44, 43, 43);
}

.nav-link {
    color: rgb(101, 144, 236);
}

.jumbotron {
    background-image: url(img/rawImage.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    padding: 5.5em;
    color: white;
}

.lead {
    padding-top: 40px;
}

.card-img-top {
    width: 100%;
    height: 19vw;
    object-fit: cover;
}

.about p {
    padding: 2rem;
    font-size: 18px;
}

.carousel-item img {
    object-fit:contain;
    object-position: center;
    height: 40vh;
    overflow: hidden;
}

/* *{
    outline: 1px solid red;
} */

.row {
    padding-right: 0px;
    margin-right: 0px;
}

.container-fluid,
.container-full {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
}

.projects,
#about,
#carousel,
#contact {
    padding-left: 12px;
}

#carousel {
    padding-bottom: 50px;
}

#contact {
    display: none;
}

.DarkMode {
    padding-left: auto;
}

@media screen and (min-width: 1200px) {
    .card {
        min-height: 360px;
    }
}
